
.app {
    width: 50%;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid black;
    box-sizing: border-box;
  }

  input {
    width: 100%;
    height: 30px;
  }

  textarea{
    width: 100%;
    height: 50px;
  }

.like{
  width: 30px;
  height: 30px;
}