body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::before{
  content:"";
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:-1;
  background-image:url(https://images.unsplash.com/photo-1513689125086-6c432170e843?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODR8fGxvdmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60) ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}